.profile {
  display: inline-block;
  /* border: 2px solid black; */
  width: 18%;
  margin-right: 1%;
  margin-left: 1%;
  margin-bottom: 30px;
  vertical-align: top;
}

.profile-image {
  width: 100%;


  transition: filter 0.1s ease-in-out;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%) brightness(80%) contrast(130%);
}

/* blur(2px) is a cool filter too :D */

.profile-image:hover {
  -webkit-filter: grayscale(0%);
  /* Ch 23+, Saf 6.0+, BB 10.0+ */
  filter: grayscale(0%);
  /* FF 35+ */
}

.profile-text {
  padding: 10px;
  font-size: 0.9rem;
}

.profile-name {
  font-weight: 500;
  font-size: 0.9rem;
}

.profile-role {
  font-size: 0.8rem;
}

/* MOBILE VIEW */
@media (max-width: 800px) {
  .profile {
    width: 31%;
    margin-left: 1%;
    margin-right: 1%;
  }
}

@media (max-width: 480px) {
  .profile {
    width: 98%;
  }
}