.directory-blob {
  width: 30%;
  display: inline-block;
  vertical-align: top;
}

.directory-blob-2 {
  width: 66%;
  display: inline-block;
  vertical-align: top;
}

.board-title {
  /* color: #ffdb78; */
  color: #7057D2;
}

.red-title {
  /* color: #e7b6ae; */
  color: #CF6C5D;
}

.blue-title {
  /* color: #bccef5; */
  color: #577ED2;
}

.spacer {
  display: inline-block;
  width: 4%;
}

@media (max-width: 600px) {
  .directory-blob, .directory-blob-2  {
    width: 100%;
  }

  .spacer {
    height: 16px;
  }
}
