@font-face {
  font-family: "ComicSans";
  src: local("ComicSans"), url(./comic-sans.ttf) format("truetype");
  /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
}

#assassins-page,
#graveyard-page {
  text-align: center;
  padding-top: 12vh;
  padding-bottom: 10vh;
  min-height: 78vh;
  font-family: "ComicSans", sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
}

#assassins-page {
  background-image: url("locust.jpg");
}

#assassins-page h1,
p,
#graveyard-page h1,
p {
  font-family: "ComicSans", sans-serif;
}

#assassins-page p,
#graveyard-page p {
  text-align: center;
  line-height: 140%;
}

#assassins-page a {
  font-family: "ComicSans", sans-serif;
}

#graveyard-page {
  background-image: url("graveyard.jpg");
}
