@font-face {
  font-family: "ComicSans";
  src: local("ComicSans"), url(./comic-sans.ttf) format("truetype");
  /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
}

#assassins-page,
#graveyard-page {
  text-align: center;
  padding-top: 8vh;
  padding-bottom: 10vh;
  min-height: 82vh;
  font-family: "ComicSans", sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
}

#assassins-page {
  background-image: url("locust.jpg");
  background-position: center center;
}

#assassins-page h1,
#assassins-page p,
#graveyard-page h1,
#graveyard-page p {
  font-family: "ComicSans", sans-serif;
}

#assassins-page p,
#graveyard-page p {
  text-align: center;
  line-height: 140%;
}

#assassins-page a {
  font-family: "ComicSans", sans-serif;
}

#graveyard-page {
  background-image: url("graveyard.jpg");
  background-position: center center;
}

.assassins-tombstone {
  height: 200px;
  width: 200px;
  display: inline-block;
  background-image: url(img/tombstone.png);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.graveyard-50 {
  display: inline-block;
  width: 40%;
  padding: 5%;
  padding-top: 14px;
}

@media (max-width: 600px) {
  .graveyard-50 {
    width: 90%;
  }
}
